<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lidantao.ersc.dao.UserMapper">

    <select id="loginUser" parameterType="com.lidantao.ersc.entity.User" resultType="int">
        select count(*) from account where username = #{user.username} and password = #{user.password}
    </select>
</mapper>